<h2>Welcome to Fit Kwick</h2>

<p>Manage your gym memberships and bookings with ease.</p>
<!-- Links!!!!  -->
<div class="action-buttons">
    <!-- Link to add a new customer -->
    <a href="/customers/add" class="btn">Add a new customer</a>
    <!-- Link to make a new booking -->
    <a href="/bookings/add" class="btn">Make a new booking</a>
    <!-- Link to view all customers -->
    <a href="/customers" class="btn">View all customers</a>
    <!-- Link to view all bookings -->
    <a href="/bookings" class="btn">View all bookings</a>
</div>